{{ define "main" }}
<div class="container">
  {{ range .Pages.GroupByDate "2006" }}
  <div class="mt-8">
    <h2 class="text-lg font-semibold mb-4">{{ .Key }}</h2>
    <div class="space-y-4">
      {{ range .Pages }}
      <a class="card card-compact bg-base-100 hover:bg-base-content/10 shadow-xl cursor-pointer dark:border dark:border-base-content/30" href="{{ .RelPermalink }}">
        <div class="card-body">
          <h2 class="card-title">{{ .Title }}</h2>
          <p class="date text-base-content/60">
            {{ .Date.Format "Monday, Jan 2, 2006" }}
          </p>
          <div class="card-actions justify-between items-center mt-4">
            <div class="flex items-center">
              <span>@</span>
              <span>{{ .Site.Params.author }}</span>
            </div>
          </div>
        </div>
      </a>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
